:root {
    --mdc-theme-primary: #00BFA5;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    background-color: #E0F2F1;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B2DFDB;
}

.header > div {
    display: flex;
}

.header p.mdc-typography--headline6 {
}

.header form {
    display: flow-root;
}

.header input {
    background: none;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    color: #00796B;
    cursor: pointer;
    margin: 0 5px;
}

.main {
    padding: 40px 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mdc-card {
    width: 48%;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .mdc-card {
        width: 24%;
    }
}

@media (min-width: 900px) {
    .mdc-card {
        width: 32%;
    }
}

.offer-card__media {
    background-size: cover !important;
    background-position: center bottom !important;
    background-repeat: no-repeat !important;
}

.offer-card__content {
    padding: 16px;
}

.offer-card__description br {
    display: none;
}