<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Merchant Offers - Error..</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header">
    <p class="mdc-typography mdc-typography--headline6">Search Merchant Offers</p>
    <a href="/">Home</a>
</div>

<div class="main">
    <label class="mdc-typography mdc-typography--headline6">Oops something went wrong, try again later</label>
    <p class="mdc-typography mdc-typography--headline6" th:text="${error}" />
</div>

</body>
</html>