<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Offers - Categories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p><h1>Merchant Offers</h1></p>

<p><h2>Supported Categories:
    <select id="categoryCode" name="categoryCode">
        <option th:each="offerCategory: ${offerCategories}" th:value="${offerCategory.id}" th:text="${offerCategory.name}" />
    </select>
</h2></p>

<p> <a href="/index.html">Return</a></p>

</body>
</html>