<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Merchant Offers </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p><h1>Available Merchant Offers</h1></p>

<table border="1">
    <thead>
    <tr>
        <th>Offer Code </th>
        <th>Offer </th>
        <th>Offer Detail </th>
        <th>Activate</th>
        <th>Category </th>
        <th>Merchant Distance </th>
        <th>Eligibility Dates </th>
        <th>Merchant </th>
    </tr>
    </thead>

    <tbody align="center">
    <tr th:each="offer: ${offers}" align="center">
        <td th:text="${offer.offerId}" />
        <td> <label th:text="${offer.title} " /> <img th:src="${offer.offerImages.squareImageUrl}" height="42" width="42"/></td>
        <td th:text="${offer.subTitle} " />
        <td th:text="${offer.description} " />
        <td th:text="${offer.category} " />
        <td> <label th:text="${offer.distanceToMerchant}" /> <label th:text="${offer.distanceUnit}" /> </td>

        <td>
            <label th:text="${offer.offerEligibility.startDate}" />
            - <label th:text="${offer.offerEligibility.endDate}" /> </td>
        <td th:text="${offer.merchant.name} " />
    </tr>
    </tbody>
</table>

<p> <a href="/index.html">Home</a></p>

</body>
</html>