<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Merchant Offers </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p><h1>Available Merchant Offers</h1></p>

<span th:if="${empty}">No matching offers found</span>
<span th:unless="${empty}">
<table border="1">
    <thead>
    <tr>
        <th>Offer Code </th>
        <th>Offer </th>
        <th>Offer Detail </th>
        <!--th>Activate</th-->
        <th>Category </th>
        <th>Merchant Distance </th>
        <th>Eligibility Dates </th>
        <th>Merchant </th>
    </tr>
    </thead>

    <tbody align="center">
    <tr th:each="offer: ${offers}" align="center">
        <td th:text="${offer.offerId}" />
        <td>
            <img th:src="${offer.offerImages.squareImageUrl}" height="42" width="42" th:alt="${offer.description}"/> <br/>
            <label th:text="${offer.title} " />
        </td>
        <td th:text="${offer.subTitle} " />
        <!--td th:text="${offer.description} " /-->
        <td th:text="${offer.category} " />
        <td> <label th:text="${offer.distanceUnit}" /><label th:text="${offer.distanceToMerchant}" /> </td>

        <td>
            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd''T''HH:mm:ss')}">
                <label th:text="${#dates.format(sdf.parse(offer.offerEligibility.startDate), 'dd-MMM-yyyy')}" />
            </th:block>
            -
            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd''T''HH:mm:ss')}">
                <label th:text="${#dates.format(sdf.parse(offer.offerEligibility.endDate), 'dd-MMM-yyyy')}" />
            </th:block>
        </td>
        <td th:text="${offer.merchant.name} " />
    </tr>
    </tbody>
</table>
</span>

<p> <a href="/searchOffers">Back</a></p>

</body>
</html>