<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Offers - Product Types</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header">
    <p class="mdc-typography mdc-typography--headline6">Available Merchant Offers - Products</p>
    <div>
        <a href="/" ><input type="submit" value="Back to Home" /></a>
    </div>
</div>

<div class="main">
    <p class="mdc-typography mdc-typography--headline6">Supported Products:</p>
    <select id="productType" name="productType">
        <option th:each="productType: ${productTypes}" th:value="${productType.productType}" th:text="${productType.displayProductType}" />
    </select>
</div>

</body>
</html>