<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Offers - Product Types</title>
    <link rel="stylesheet" media="screen" href="style.css?v=8may2013">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body id="css-zen-garden">

<p><h1>Merchant Offers</h1></p>

<p><h2>Supported Products:
<select id="productType" name="productType">
    <option th:each="productType: ${productTypes}" th:value="${productType.productType}" th:text="${productType.displayProductType}" />
</select>
</h2></p>
<p> <a href="/index.html">Return</a></p>

</body>
</html>